<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New item - 1</key>
	<string>90A959</string>
	<key>New item - 2</key>
	<string>7DB9E8</string>
	<key>New item - 3</key>
	<string>AA759F</string>
	<key>New item - 4</key>
	<string>AC4142</string>
	<key>New item - 5</key>
	<string>F4BF75</string>
	<key>New item</key>
	<string>006DB0</string>
</dict>
</plist>
